* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 20px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

li a:link,
li a:visited {
	color: #fff
}

.content {
	position: absolute;
	width: 1240px;
}

.row {
	padding-bottom: 100px;
}

.logo {
	height: 75px;
	width: auto;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.main-nav {
	float: right;
	list-style: none;
	font-size: 100%;
}

.main-nav li {
	display: inline-block;
	margin-left: 30px;
	margin-right: 40px;
	margin-top: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding-bottom: 3px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}