<!DOCTYPE html>
<html>
<head>
  <style>

    .topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #dddddd;
      display: block;
    }

    .topnav li {
      float: left;
    }

    .topnav li a {
      display: block;
      padding: 8px;
      text-decoration: none;
    }

    .topnav li a:hover {
      background-color: grey;
    }

  </style>
</head>
<body>
  <ul class="topnav">
    <li><a href="{% url 'dndmain:home' %}">Home</a></li>
    <li><a href="{% url 'dndmain:campaign' %}">Campaign</a></li>
  </ul>
</body>
</html>

{% block content %} {% endblock %}