{% load static %}

<!DOCTYPE html>
<html>
<head>
  <style>
    body { margin: 0; }
  </style>
  <title>Nat1: A DnD Webapp Project</title>
  <link rel="stylesheet" type="text/css" href="dndmain/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> </head>
<body>
  <nav>
    <li>
      <img src="{% static 'dndmain/images/dnd.png' %}" style="width: 40px; height: 40px;">
    </li>
    <div class="logo">
      <li>
        <a href="{% url 'dndmain:home' %}">Nat1</a>
      </li>
    </div>
    <ul class="nav-links">
      <li><a href="{% url 'dndmain:campaign' %}">Campaign</a></li>
      <li><a href="#">Sign in</a></li>
    </ul>
  </nav>
</body>
</html>

{% block content %} {% endblock %}