{% extends 'dndmain/base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'dndmain/style.css' %}">

<h2>{{ character.char_name }}</h2>



<button onclick="location.href='{% url 'dndmain:edit_character' character.id %}'">Edit Character</button>

<p>
	Health:{{ character.health }}
	<br>
	AC:{{ character.armor_class }}
	<br>
	Strength:{{ character.strength }}
	<br>
	Dexterity:{{ character.dex }}
	<br>
	Constitution:{{ character.constitution }}
	<br>
	Intelligence:{{ character.intelligence }}
	<br>
	Wisdom:{{ character.wisdom }}
	<br>	
	Charisma:{{ character.charisma }}
</p>

{% endblock %}